:root {
    --accent: #EF0D33;
    --accent-hover: #FF1A40;
    --accent-pressed: #CC0B2C;
    --background: #080808;
    --surface: #181818;
    --surface-high: #282828;
    --surface-pressed: #333333;
    --text-primary: #FFFFFF;
    --text-secondary: #A6A6A6;
    --text-tertiary: #666666;
    --text-disabled: #666666;
    --divider: #666666;
    --divider-subtle: #333333;
    --success: #30D158;
    --warning: #FFD60A;
    --error: #FF453A;
    --scrim: #000000;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: var(--background, black);
    color: var(--text-primary);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 64px;
    position: sticky;
    top: 0;
    background-color: var(--background, black);
}

h1 {
    font-family: "Anton", sans-serif;
    font-size: 48px;
    color: var(--accent, red);
    text-transform: uppercase;
}

h2 {
    font-family: "Anton", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
}

ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-secondary, darkgray);
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 8px 64px 64px;
    gap: 16px;
    background-color: var(--background, black);
}

.hero-content,
.hero-image {
    flex: 1;
}

.hero-image {
    color: var(--text-secondary);
    background-color: var(--surface, darkgray);
    align-content: center;
    text-align: center;
}

button {
    background-color: var(--accent, red);
    color: var(--text-primary);
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 64px;
}

.cards {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 16px;
}

.card {
    width: 200px;
}

.card img {
    width: 100%;
    height: auto;
    border: 2px solid var(--divider, darkgray);
    border-radius: 16px;
}

.card p {
    text-align: center;
}

.quote {
    background-color: var(--surface);
    padding: 64px 192px;
}

blockquote {
    margin: 16px 0;
    font-size: 32px;
    font-style: italic;
}

.quote-author {
    text-align: end;
    margin: 16px 0;
    padding-right: 8px;
    font-weight: 900;
}

.action {
    padding: 64px;
}

.action-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--surface-high);
    padding: 16px 64px;
    border-radius: 8px;
}

.action .button-outlined {
    border: 1px solid var(--text-primary);
    background-color: transparent;
}

footer {
    padding: 16px;
    color: var(--text-tertiary);
    text-align: center;
    font-size: 12px;
    position: sticky;
    bottom: 0;
}