body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #1F2937;
    padding: 4px 64px;
}

ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

a {
    text-decoration: none;
    color: lightgray;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    color: white;
    background-color: #1F2937;
    padding: 8px 64px 64px;
    gap: 16px;
}

.hero-content,
.hero-image {
    flex: 1;
}

.hero-image {
    background-color: darkgray;
    align-content: center;
    text-align: center;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 64px;
}

.cards {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 16px;
}

.card {
    width: 200px;
}

.card img {
    width: 100%;
    height: auto;
    border: 2px solid red;
    border-radius: 16px;
}

.card p {
    text-align: center;
}

.quote {
    background-color: lightgray;
    padding: 64px 192px;
}

blockquote {
    margin: 16px 0;
    font-size: 32px;
    font-style: italic;
}

.quote-author {
    text-align: end;
    margin: 16px 0;
    padding-right: 8px;
    font-weight: 900;
}

.action {
    padding: 64px;
}

.action-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 16px 64px;
    border-radius: 8px;
    color: white;
}

.action .button-outlined {
    border: 1px solid white;
    background-color: #3882F6;
}

footer {
    padding: 16px;
    background-color: #1F2937;
    color: white;
    text-align: center;
    font-size: 12px;
}